* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline-style: none;
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}
header {
  text-align: center;
  background-color: #2056AC;
}
.titre {
  padding: 5em 0;
}
h1 {
  color: white;
  font-family: "Questrial";
  font-size: 4.5em;
}
header .fa {
  color: white;
  font-size: 4em;
}
.menu {
  text-align: center;
  list-style-type: none;
}
.menu li {
  display: inline-block;
  padding: 1.5em 1.5em;
}
.menu li a {
  text-decoration: none;
  color: white;
}
.menu li:hover {
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.menu li:hover a {
  color: #2056AC;
}
main {
  max-width: 1200px;
  margin: auto;
}
.photo {
  width: 100%;
  margin-top: 3em;
}
.section1 {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 4em 0;
}
.section1 h2 {
  font-size: 2em;
  padding-bottom: 2em;
}
.section2, .section3 {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 2em 0;
}
.section2 {
  border-bottom: 1px solid;
  border-top: 1px solid;
}
.art-sect2 {
  display: inline-block;
  width: 33.11%;
  padding: 1.5em 2em;
}
.art-sect2 p, .art-sect3 p{
  margin: 2.5em 0;
}
.bouton {
  padding: 0.5em 1em;
  background-color: #64ABD1;
  color: white;
}
.art-sect3 {
  display: inline-block;
  width: 24.75%;
  padding: 1.5em 2em;
}
.art-sect2 a, .art-sect3 a {
  text-decoration: none;
}
.section4 {
  background-color: #E3F0F7;
}
.section4 div {
  width: 33.11%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 3em 1.5em;
}
.section4 div p {
  padding: 2em 3em;
}
.section4 .fa {
  font-size: 2em;
}
.bold {
  font-weight: bold;
}
.bande-bleu {
  background-color: #3162B1;
  height: 1em;
}
footer {
  background-color: #2056AC;
  text-align: center;
}
footer p {
  padding-top: 5em;
  color: white;
}
footer .fa {
  background-color: #4C93B9;
  color:white;
  font-size: 1.5em;
  padding: 0.4em;
  margin: 2em 0;
}
.bleu {
  color: #4C93B9;
}

@media (max-width: 480px) {
    main {
        max-width: 480px;
    }
    h1 {
      font-size: 2.5em;
    }
    header .fa {
      font-size: 2em;
    }
    .menu {
      text-align: center;
    }
    .menu li {
      width: 100%;
      padding: 0;
    }
    .art-sect2, .art-sect3 {
      display: block;
      width: 100%;
      margin: auto;
      padding: 1.5em 2em;
    }
    .section4 div {
      width: 100%;
      vertical-align: top;
      text-align: center;
      padding: 3em 1.5em;
    }


}
